.part1 {

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E8CCB0;
    padding: 1em;
    height: 120px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.head {
    width: 300px;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 80px;
    flex: 1;
    margin: 0 40px 0 50px;
}

.container{
    width: 1200px;
    margin: 16px auto; /*centers the layout*/
}

.nav {

    display: flex;
    align-items: center;
    font-weight: 700;
    flex: 2;
    margin: 0 2em;
    font-size: 17px;
}

.nav a {
    margin: 0 2em;
}

.nav a,
.button a,
.button2 a,
.end1 a,
.end2 a,
.end3 a {
    text-decoration: none;
    color: #003e40;
}
.button a,
.button2 a {
    color: #e8ccb0;
}
.button2 a {
    color: #003e40;
}
.button{
    margin: 0 60px 0 40px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #173D3F;
    color:#e8ccb0;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.intro{
    margin-top: 30px;
}

.button {
    background-color:#003e40;
    padding: 10px 15px;
    border-radius: 10px;
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
}

.link {
    color: #e8ccb0;
    text-decoration: none;
}
.link:hover {
    color: #463d35;
}
div a:hover,
nav a:hover,
.button a:hover{
    color: #a35c2d;
}


.linkMethod {
    background-color: #A25C2E;
    height: 47px;
    width: 47px;
    position: relative;

}
.linkMethod:hover{
    background-color: white;

}
/*.icon2{
    color: white;
}*/
.linkMethod:hover .icon2{
    color: #A25C2E;
}

footer{
    color: #003e40;
    background-color: #E8CCB0;
    height: 200px;
    position: relative;
}

/*.eca{
    margin-left: 10px
}*/

.linkMethod2 {

    height: 30px;
    width: 30px;
    margin-right: 5px;
    position: relative;

}
.linkMethod2:hover{
    background-color: white;
}


/*@media  (max-width: 768px){
    footer{
        height: 500px;
        padding-top: 10px;

    }
}

@media (min-height: 900px){
    footer{
        position: absolute;
        bottom: 0;
    }
}*/
@media  (max-width: 600px){
    footer{
        height: 500px;
        padding-top: 10px;

    }
    /*.nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }*/
    
    .part1 {
       flex-direction: column; 
       height: 300px; 
       padding: 6px; 
       
   }


   .head {
       width: 100%; 
       padding: 10px; 
       line-height: normal; 
       text-align: center; 
   }

   .nav {
       flex-direction: column; 
       align-items: center; 
       margin:0; 
   }

   nav a {
       margin: 5px 0;
   }

   .button {
       margin-top:0; 
   }


.linkMethod2 {

    height: auto;
    width: auto;
    margin-right: 5px;
    position: relative;
}
}

@media  (min-width: 601px)and (max-width: 1024px){
    /*footer{
         height: 500px;
         padding-top: 10px;
 
     }*/
     /*.nav {
         flex-direction: column;
         align-items: center;
         text-align: center;
       }*/
     .part1 {
         height: 155px;
     }
 }


